nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 20px;
}
.nav-title{
    font-weight: 800;
    font-size: 32px;
    font-family: ;
}
.btn-primary{
    width: 116px;
    height: 52px;
    background-color: #e7f3f0;
    stroke: #006A50;
    justify-content: center;
  font-weight: 600;
  font-size:  20px;
  color:#006A50 ;
  border-radius: 8px;
  padding: 15px 15px ;



}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

body{
    border: 20px 10px 20px 10px;
    background-color: green;
    

}
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
}


.banner{
   background-color: #C6E4D6;
   padding: 80px 100px 80px 100px;
   border-radius: 15px;
    display: flex; 
  justify-content: space-between;
  margin: 0 100px 0 100px;
}

.banner-subtitle{
    font-family: "Fira Sans", serif;
    font-weight: 600;
  font-size: 24px;
  color:#0E0E0E
  
}
.banner-title{
    font-weight: bold;
    font-family: "Fira Sans", serif;
    font-size: 56px;

}

.pillar-section{
    margin:80px 100px 80px 100px;
    
}
.section-title{
    text-align: left;
    font-size: 40px;
}

.pillar-of-bd{
    display: flex;
    gap: 24px;
    border-radius: 5px;
 

}
.pillar{
    box-shadow: 0px 6px 50px 0px #eee8e8;
    border-radius: 5px;
    padding: 24px 24px 24px 24px;
}
.pillar-title{
    color:#0E0E0E;
}
.pillar-description{
    font-weight: 300;
    font-size: 16px;
}

.vision-of-future{
    margin-left: 100px;
    margin-right: 100px;
}
.section-description{
    font-weight: 300;
    font-size: 16px;
}
.visions{
    display: flex;
    gap: 24px;
    line-height: 24px;
}
.vision-1{
    background-color: #eaf3ff;
    border-radius: 16px;
    padding: 32px;
    

}
.vision-title{
    font-size: 20px;
    font-weight: bold;
}
.vision-description{
    font-size: 16px;
    font-weight: 300;
}
.btn-1{
    font-family:"Fira Sans", serif ;
    background-color: #5490F5;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 8px ;
    padding: 20px 11px;

    
}
.vision-2{
    background-color: #C6E4D6;
    border-radius: 16px;
    padding: 32px;
}
.btn-2{
    font-family:"Fira Sans", serif ;
    background-color: #09A15C;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 8px ;
    padding: 20px 11px;
}
.vision-3{
    background-color: #F7EBCF;
    border-radius: 16px;
    padding: 32px;
}
.btn-3{
    font-family:"Fira Sans", serif ;
    background-color: #FFC239;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 8px ;
    padding: 20px 11px;
}
.recent-news-title{
    font-weight: bold;
    font-size: 40;
    color: #0E0E0E;
}
.recent-news-subtitle{
    font-family: "Fira Sans", serif;
    font-weight: 300;
  font-size: 16px;
  color:#0E0E0E
}
.outer-news{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 80px;
}
.satelite{
    border-radius: 24px;
}
.main-news{
    display: flex;
    background-color:  #FFFFFF;
    border-radius: 24px;
    padding:  48px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 0px 6px 50px 0px #eee8e8;
}
.news-breaking{
    margin-left: 32px;
    padding: 0px;
    
    
}
.news-title{
    font-size: 32px;
    font-weight: bold;
    padding-top: 38px;

}
.news-reporter{
    

}
.time-date{
    font-size: 16px;
    font-weight: 300;
    font-family: "Fira Sans", serif;
}
.news-description{
    font-size: 16px;
    font-weight: 300;
    padding-right: 38px
    font-family: "Fira Sans", serif;
}
.news-button{
    padding: 26px 13px;
    border-radius: 8px;
    background-color: #006A50;
    border: none;
    color: #FFFFFF;
    font-family: "Fira Sans", serif;
}
.donate-section{


 margin-left: 100px;
margin-right: 100px;
}
.donation-title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.donation-description{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 300;
    text-align: center;

}
.amount-buttons {
    display: flex;
    justify-content:center;

    gap: 24px;
    margin-bottom: 20px;
  }


.amount-btn {
    padding: 40px 40px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 16px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.primary{

 background-color: #C6E4D6;
  border-color: #77c87c;
  color: #2b612c;
}
.custom-amount{
    width: 1032px
    padding: 10px;
    font-size: 14px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;

}
